services:
  db:
    image: postgres:18-alpine3.22
    container_name: db
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: paastel
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
